@import url(glitch.css);
@import url(footer.css);
@import url(grid_gifs.css);

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #232526;  /* fallback for old browsers */
    min-height: 75vh;
    display:grid;
    place-items: center;
    color:white;
    font-family: 'Rubik', sans-serif;
}

.text{
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    margin:auto;
    padding: 0;
    align-items: center;
    text-align: center;
}
.review{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    margin:auto;
    padding-top: 5vh;
    align-items: center;
    text-align: center;
}
