@import url(glitch.css);
@import url(footer.css);
@import url(grid_gifs.css);

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --text:white;
    --orange:#FF9100;
    --background:#232526;
    --background-alt:#444444;
    --gray:#6D6767;
    --title:'Rubik', sans-serif;
    --regular:'Mulish', sans-serif;
    --highlight:#fcce03;
}

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {scroll-behavior: smooth;}

body{
    background: #232526;  /* fallback for old browsers */
    min-height: 75vh;
    display:grid;
    place-items: center;
    color:var(--text);
    font-family: 'Rubik', sans-serif;
}

h1{
    font-size: 40px;
    font-family: var(--title);
    color: var(--text);
}

h2{
    font-size: 34px;
    font-family: var(--title);
    color: var(--text);
}

h3{
    font-size: 28px;
    font-family: var(--title);
    color: var(--text);
}

.pointer{
    cursor: pointer;
  }
  
/*CSS ci-bas juste pour la page temporaire*/
.text{
    font-size: 22px;
    font-family: 'Mulish', sans-serif;
    margin:auto;
    padding: 0 0 1vh 0;
    align-items: center;
    text-align: center;
}
