@font-face{
    font-family: Muli;
    src: url(polices/Muli-Regular.ttf)
}

@font-face{
    font-family: theboldfont;
    src: url(polices/theboldfont.ttf);
}

.html{
    background-color: rgb(255, 255, 255);
}


.titre{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%) translateY(-50%);
    font-family: theboldfont;
    text-align: center;
    font-size: 100px;
    color: #ed9414 ;
}

.titre2{
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translateX(-50%) translateY(-50%);
    font-family: theboldfont;
    text-align: center;
    font-size: 80px;
    color: black;
}

.menu1{
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translateX(-50%) translateY(-50%);
    text-align: left;
    font-family: Muli;
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
}

.menu2{
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%) translateY(-50%);
    text-align: left;
    font-family: Muli;
    font-size: 16px;
    list-style-type: none;
    color: black;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}