@font-face{
    font-family: theboldfont;
    src: url(polices/theboldfont.ttf);
}


.h1{
font-family: theboldfont;
    text-align: center;
    font-size: 60px;
    color: #ed9414 ;
}

.h2{
font-family: theboldfont;
    text-align: center;
    font-size: 48px;
    color: black;

}