@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Alata', sans-serif;
  }

  html, body {
    background-image: linear-gradient(to right, #eecda3, #ef629f);
    scroll-behavior: smooth;
    font-family: 'Alata', sans-serif;
  }
  
  .title{
      margin: 20px;
      position: absolute;
    top:20%;
    left:50%;
    transform:translate(-50%, -50%);
    padding: 25px;
  }

  h1, h2{
      filter: drop-shadow(1px 1px white);
      text-align: center;
  }

  .title2{
    margin: 20px;
    position: absolute;
  top:35%;
  left:50%;
  transform:translate(-50%, -50%);
  padding: 25px;
  }

  .blue{
    color:#4286f4 ;
    filter: drop-shadow(1px 1px black);
  }

  .orange{
    color: #f5af19;
    filter: drop-shadow(1px 1px black);
  }

.pate{
    margin: 20px;
    position: absolute;
  top:65%;
  left:20%;
  transform:translate(-50%, -50%);
  padding: 25px;
}

.brownie{
    margin-top: 20px;
    position: absolute;
  top:68%;
  left:74%;
  transform:translate(-50%, -50%);
}


a{
color: black;
}

@media screen and (max-width: 800px){   
h1{
      font-size: 22px;
  }
h2{
      font-size:14px ;
  }
h1, h2{
        filter: drop-shadow(1px 1px white);
    }
.title{
      margin:0;
      padding:0;

    }
.title2{
    margin:0;
    padding:0;
    top: 40%;
    left: 50%;
    }

.pate{
    margin:0;
    padding:0;
    top: 70%;
    left: 50%;
    transform:translate(-50%, -50%);
    }
    
.brownie{
    margin:0;
    padding:0;
    top: 105%;
    left: 50%;
    transform:translate(-50%, -50%);
    }
}

@media screen and (max-width: 667px){   
    h1{
          font-size: 22px;
      }
    h2{
          font-size:14px ;
      }
    h1, h2{
            filter: drop-shadow(1px 1px white);
        }
    .title{
          margin:0;
          padding:0;
    
        }
    .title2{
        margin:0;
        padding:0;
        top: 50%;
        left: 50%;
        }
    
    .pate{
        margin:0;
        padding:0;
        top: 85%;
        left: 50%;
        transform:translate(-50%, -50%);
        }
        
    .brownie{
        margin:0;
        padding:0;
        top: 130%;
        left: 50%;
        transform:translate(-50%, -50%);
        }
    }