.heros{
    position: relative;
    width: 100vw; height: 100vh;
}

.heros picture{
    position: absolute;
    width: 100%;
    height: 100%;
}

.heros .main_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 60% 50%;
}

.contraste{
    position: absolute;
    background-color: var(--secondary);
    opacity: 0.15;
    height: 100%;
    width: 100%;
}

.container_index{
    height: 100vh;
    position: relative;
    z-index: 99;
}

.container_index .row {
    height: 100vh;
}

.container_index .row article {
    text-align: center;
}

li{
    color: var(--text);
}

.card{
    margin:10px;
    border: none;
  }

.btn{
    background-color: var(--secondary);
    border-color: var(--secondary);
}

footer a:hover{
    color: white;
  }

  .accueil .swiper-slide {
    text-align: center;
    font-size: 18px;
  }

.ratio{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.promotions .swiper-slide img{
    width: 100%;
}

.promotions .swiper-container{
    width: 100%; height: 0;
    padding-bottom: 56.25%;
}

.promotions .swiper-pagination-bullet{
    background: var(--secondary);
}

.promotions .swiper-pagination-bullet-active{
    background: var(--primary);
}

.credits h5:hover{
    color: white;
    cursor: pointer;
}

.credits .btn{
    background: none;
    border: none;
    color: black;
    outline-color: none;
}

.modal-body{
    margin-left: auto;
    margin-right: auto;
}

@media screen and (orientation: landscape) {
    .heros {
      height: 56.25vw;
    }
  }


.background-anim {
    position: sticky;
    top: 40%;
  }
  
.sprite{
    background-size: 100%;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.sprite.scrolldown{
    background-image: url('../img/spritesheet_drums_scrolldown.png');
    animation: scrolldown 0.75s steps(23) infinite;
    }
  @keyframes scrolldown {
     0% { background-position: 0 0px; }
     100% { background-position: 0px 100%; }
  }

.sprite.scrollup {
    background-image: url('../img/spritesheet_drums_scrollup.png');
    animation: scrollup 0.75s steps(23) infinite;
    }
  @keyframes scrollup {
     0% { background-position: 0 100%; }
     100% { background-position: 0px 0px; }
  }

  .sprite.idle {
    background-image: url('../img/spritesheet_drums_idle.png');
    animation: idle 0.75s steps(23) infinite;
    }
  @keyframes idle {
     0% { background-position: 0 0; }
     100% { background-position: 0px 100%; }
  }

 